body {
  
  
  background-image: url("https://images.unsplash.com/photo-1554325139-bbd006cd3e5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80") 
  ;
  background-repeat: no-repeat;

  
}
.App {
  text-align: center;
  
}

.completed{
  text-decoration: line-through;

}

.form{
  margin: 10%;
}

.todoArea{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.todo{
  width: 10vw;
  height: 5vw;
  margin: 2%;
  border: solid black 2px;
  color:black;
  font-size: 1vw;
  background-color: rgb(95, 142, 217);
  padding: 1%;
  
}